/* input{
    height: 30px;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid black;
}
button{
    margin: auto;
    margin-top: 10px;
}
form{
    display: flex;
    flex-direction: column;
} */