footer{
    border: 1px solid black;
    height: 8rem;
    font-size: 15px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* @media screen and (max-width: 800px) {
    footer{
        margin-top: 5vh;
    }
    
} */
