@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
.dis{
  
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 900;
    text-align: center;
    margin: auto;
    margin-top: 4rem;
    height: 21rem;
    width: 80rem;
    display: flex;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media screen and (max-width: 800px) {
    body{
        text-align: center;
    }
    .dis{
        border-radius: 10px;
        height: 450px;
        width: 200px;
        border: none;
        text-align: center;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 30px;
        display:inline-block
    }
  }